<mat-toolbar >
   <button mat-raised-button color="primary" class="endorseAddBtn" (click)="openDialogSCR4104015()"><mat-icon>add_circle</mat-icon>ADD ROW</button>
 </mat-toolbar>

 <div class="endorseTableTitle">
  <span>APPLY TO VALID INVOICE</span>
</div>
 <div class="endorseTableContainer">
  <table mat-table [dataSource]="datasourceSCR4104015" class="endorseCovSummTbl">
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef  width="100px"></th>
      <td mat-cell *matCellDef="let row" class="tdaction" style="text-align: center; border-right: 1px solid lightgray;">
        <button class="btn-Delete" mat-icon-button (click)="deleteListSCR4104015(row.id)" color="warn" style="padding: 0;">
            <mat-icon style="font-size: 20px;">remove_circle</mat-icon>
        </button>

        <button class="endorseEditBtn" mat-icon-button (click)="editItemSCR4104015(row)" color="primary">
          <i class="fas fa-edit" style="font-size: 16px;"></i>
      </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef width="30px">No.</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.id}} </td>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="endorseInvnoFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Invoice no.</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.endorseInvnoFld}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="endorseCovFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Coverage</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.endorseCovFld}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="endorseCovDescFld">
      <th mat-header-cell *matHeaderCellDef width="170px">Coverage Description</th>
      <td mat-cell *matCellDef="let row" style="text-align: left;"> {{row.endorseCovDescFld}} </td>
    </ng-container>

     <!-- Name Column -->
     <ng-container matColumnDef="endorseCovAmtFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Covered Amount</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseCovAmtFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="endorseEndorseCovAmtFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Endorse Covered Amount</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseReducCovAmtFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="endorseNetCovAmtFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Net Covered Amount</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseNetCovAmtFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorsePremRateFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Premium Rate</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorsePremRateFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorsePremAmtFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Premium Amount</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorsePremAmtFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorseEndorsePremAmtFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Endorse Premium Amount</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseReducPremAmtFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorseNetPremAmtFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Net Premium Amount</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseNetPremAmtFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorseCommRateFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Commission Rate</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseCommRateFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorseCommFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Commission</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseCommFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorseEndorseCommFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Endorse Commission</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseReducCommFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorseNetCommFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Net Commission</th>
      <td mat-cell *matCellDef="let row" style="text-align: right;"> {{row.endorseNetCommFld | currency:" ":"symbol"}} </td>
    </ng-container>

    <ng-container matColumnDef="endorseRemFld">
      <th mat-header-cell *matHeaderCellDef width="130px">Remarks</th>
      <td mat-cell *matCellDef="let row" style="text-align: center;"> {{row.endorseRemFld}} </td>
    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumnsSCR4104015"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumnsSCR4104015;"></tr>
  </table>
</div>